{% extends defaults.layouts ~ '/manage.twig' %}

{% block title %}
    {% if item.id %}
        Правка заказа №&laquo;{{ item.id }}&raquo;
    {% else %}
        Новый заказ
    {% endif %}
{% endblock %}

{% block content %}
    <div class="header-title">{{ block('title') }} <a href="{{ path('manage_orders_remove', {'orderId': item.id}) }}" >Удалить</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#" id="print">Распечатать</a></div>
    
    <script type="text/javascript">
        $(document).ready(function() {
          $("#print").click(function() {
           printElem({ leaveOpen: true, printMode: 'popup',
           overrideElementCSS:[
        		{ href:'/common/managers/css/printMode.css',media:'print'}]
            });
            
         });
         
         function printElem(options){
          $('#toPrint').printElement(options);
         }

        });
    </script> 
    
    <form method="post">
        {% if item.id %}
            <input type="hidden" name="id" value="{{ item.id }}">
        {% endif %}
                
        <table class="form-table lefted">
            <tr>
                <td width="100px">
                    Статус
                </td>
                <td width="300px">
                    <select name="status">
                        {% for status in statuses %}
                            <option value="{{ status.id }}"{% if item.getStatus.id == status.id %} selected="selected"{% endif %}>{{ status.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td width="200px"></td>
            </tr>            
            
            <tr>
                <td>
                    Имя
                </td>
                <td>
                    {{ item.client.first_name|default("не указан") }} 
                    {{ item.client.last_name }}
                </td>
            </tr>
            
            <tr>
                <td>
                    Телефон
                </td>
                <td>
                    {{ item.client.phone|default("не указан") }}
                </td>
            </tr>
            
            <tr>
                <td>
                    Тип доставка
                </td>
                <td>
                    {# item.delivery.getType.name #}{#% if item.delivery.metro %} &laquo;{{ item.delivery.metro.name }}&raquo;{% endif %#}
                    
                    <select name="type">
                        {% for type in types %}
                            <option value="{{ type.id }}"{% if item.delivery.delivery_type_id == type.id %} selected="selected"{% endif %}>{{ type.name }}</option>
                        {% endfor %}
                    </select>
                    
                    <div class="tools">
                        <div class="tools-item edit" data-type="edit">
                            <a href="{{ path('manage_deliveries_edit', {'deliveryId': item.delivery.id}) }}" class="icon"></a>
                        </div>
                    </div>     
                </td>
            </tr>
            
            <tr>
                <td>
                    Метро
                </td>
                <td>
                    {# item.delivery.metro.name|default("не указан") #}
                    
                    <select name="metro">
                        <option value="0">Выберите&hellip;</option>
                        {% for line in metrolines %}
                            <optgroup label="{{ line.name }}">
                                {% for metro in line.metros %}
                                    <option value="{{ metro.id }}"{% if item.delivery.metro.id == metro.id %} selected="selected"{% endif %}>
                                        {{ metro.name }}
                                    </option>
                                {% endfor %}
                            </optgroup>
                        {% endfor %}
                    </select>
                    
                </td>
            </tr>

            <tr>
                <td>
                    Адрес
                </td>
                <td>
                    {# item.delivery.address|default("не указан") #}
                    <input type="text" name="address" value="{{ item.delivery.address }}" />
                </td>
            </tr>
            
            <tr>
                <td>
                    Имя и телефон для связи 
                </td>
                <td>
                    {# item.delivery.recall|default("не указан") #}
                    <input type="text" name="recall" value="{{ item.delivery.recall }}" />
                </td>
            </tr>
            
            <tr>
                <td>
                    Дата доставки
                </td>
                <td>
                    {# item.delivery.delivery_date|default("не указан") #}
                    <input type="text" class="jcalendar" name="delivery_date"{% if item.delivery.delivery_date %} value="{{ item.delivery.delivery_date|date('d.m.Y') }}"{% endif %}/>
                </td>
            </tr>
            <tr>
                <td>
                    Комментарий
                </td>
                <td>
                    {{ item.delivery.comment|default("не указан") }}
                </td>
            </tr>


            <tr>
                <td>
                    Клиент
                </td>
                <td>
                    <div class="tools">
                        <div class="tools-item edit" data-type="edit">
                            <a href="{{ path('manage_clients_edit', {'clientId': item.client.id}) }}" class="icon"></a>
                        </div>
                    </div>   

                    <div>
                        <a href="mailto:{{ item.client.email|default(item.client.user.login) }}">
                            {{ item.client.email|default(item.client.user.login) }}
                        </a>
                    </div>

                </td>
            </tr>

            <tr>
                <td>
                    Товары
                </td>
                <td colspan="2">
                    <table class="items-table" width="100%">
                        <thead>
                            <th class="left" width="250px"><div>Наименование</div></th>
                            <th width="150px"><div>Артикул</div></th>
                            <th width="100px"><div>Размер</div></th>
                            <th width="100px"><div>Цена</div></th>
                        </thead>
                        <tbody>



                            {% set total = 0 %}
                            {% for ordergood in item.getItems %}
                                
                                
                                <tr class="items-table-item">
                                    <td class="left">
                                        {{ ordergood.size.good.name }}
                                    </td>
                                    <td>{{ ordergood.size.good.article }}</td>
                                    <td>
                                        {{ ordergood.size.name }}
                                    </td>
                                    <td>
                                        {{ ordergood.size.price|money }}
                                    </td>
                                </tr>
                                
                                {% set total = ordergood.size.price+total %}
                               
                            {% endfor %}
                                <input type="hidden" name="price" value="{{ total }}" />
                        </tbody>
                    </table>
                </td>
            </tr>
            <input type="hidden" name="price" value="{{ total }}" />
            
            <tr>
                <td>
                    Доставка
                </td>
                <td colspan="2">
                    <table class="items-table" width="100%">
                        <tbody>
                          <tr class="items-table-item">
                              <td class="left" width="250px">
                                  {{ item.delivery.getType.name }}{% if item.delivery.metro %} &laquo;{{ item.delivery.metro.name }}&raquo;{% endif %}
                              </td>
                              <td width="100px"></td>
                              <td width="100px">
                                  {# item.delivery.getType.price|money #}
                                  <input type="text" name="delivery_price" value="{{ item.delivery.delivery_price|default(item.delivery.getType.price) }}" />
                              </td>
                          </tr>
                      </tbody>
                    </table>
                </td>
            </tr>
            
            <tr>
                <td>
                    <b>Итого</b>
                </td>
                <td colspan="2">
                    <table class="items-table" width="100%">
                        <tbody>
                          <tr class="items-table-item">
                              <td class="left" width="250px">
                                &nbsp;
                              </td>
                              <td width="100px">&nbsp;</td>
                              <td width="100px">
                                  {{ item.price|money }}
                              </td>
                          </tr>
                      </tbody>
                    </table>
                  
                </td>
            </tr> 
            
            <tr>
                <td></td>
                <td>
                    <div class="form-submit">
                        <button type="submit" name="saveOrder">
                            Сохранить
                        </button>
                    </div>                
                </td>
            </tr>
        </table>
        
        <div class="clear"></div>
    </form> 

    
    
    
<div style="display:none">
<div id="toPrint" >

        <table class="form-table lefted">
            <tr>
                <td width="100px">
                    Статус
                </td>
                <td width="300px">
                    {% for status in statuses %}
                       {% if item.getStatus.id == status.id %}{{ status.name }}{% endif %}
                    {% endfor %}
                </td>
                <td width="200px"></td>
            </tr>            
            
            <tr>
                <td>
                    Имя
                </td>
                <td>
                    {{ item.client.first_name|default("не указан") }} 
                    {{ item.client.last_name }}
                </td>
            </tr>
            
            <tr>
                <td>
                    Телефон
                </td>
                <td>
                    {{ item.client.phone|default("не указан") }}
                </td>
            </tr>
            
            <tr>
                <td>
                    Тип доставка
                </td>
                <td>
                    {{ item.delivery.getType.name }}{% if item.delivery.metro %} &laquo;{{ item.delivery.metro.name }}&raquo;{% endif %}
                    
   
                </td>
            </tr>
            
            <tr>
                <td>
                    Метро
                </td>
                <td>
                    {{ item.delivery.metro.name|default("не указан") }}
                    

                    
                </td>
            </tr>

            <tr>
                <td>
                    Адрес
                </td>
                <td>
                    {{ item.delivery.address|default("не указан") }}
                </td>
            </tr>
            
            <tr>
                <td>
                    Имя и телефон для связи
                </td>
                <td>
                    {{ item.delivery.recall|default("не указан") }}
                </td>
            </tr>
            
            <tr>
                <td>
                    Дата доставки
                </td>
                <td>
                    {{ item.delivery.delivery_date|default("не указан") }}
                </td>
            </tr>


            <tr>
                <td>
                    Клиент
                </td>
                <td>  

                    <div>
                        <a href="mailto:{{ item.client.email|default(item.client.user.login) }}">
                            {{ item.client.email|default(item.client.user.login) }}
                        </a>
                    </div>

                </td>
            </tr>

            <tr>
                <td>
                    Товары
                </td>
                <td colspan="2">
                    <table class="items-table" width="100%">
                        <thead>
                            <th class="left" width="250px"><div>Наименование</div></th>
                            <th width="100px"><div>Размер</div></th>
                            <th width="100px"><div>Цена</div></th>
                        </thead>
                        <tbody>
                            {% for ordergood in item.getItems %}
                                <tr class="items-table-item">
                                    <td class="left">
                                        {{ ordergood.size.good.name }}
                                    </td>
                                    <td>
                                        {{ ordergood.size.name }}
                                    </td>
                                    <td>
                                        {{ ordergood.size.price|money }}
                                    </td>
                                </tr>

                            {% endfor %}
                                
                        </tbody>
                    </table>
                </td>
            </tr>
            
            
            <tr>
                <td>
                    Доставка
                </td>
                <td colspan="2">
                    <table class="items-table" width="100%">
                        <tbody>
                          <tr class="items-table-item">
                              <td class="left" width="250px">
                                  {{ item.delivery.getType.name }}{% if item.delivery.metro %} &laquo;{{ item.delivery.metro.name }}&raquo;{% endif %}
                              </td>
                              <td width="100px"></td>
                              <td width="100px">
                                  {{ item.delivery.delivery_price|default(item.delivery.getType.price) }}

                              </td>
                          </tr>
                      </tbody>
                    </table>
                </td>
            </tr>
            
            <tr>
                <td>
                    <b>Итого</b>
                </td>
                <td colspan="2">
                    <table class="items-table" width="100%">
                        <tbody>
                          <tr class="items-table-item">
                              <td class="left" width="250px">
                                &nbsp;
                              </td>
                              <td width="100px">&nbsp;</td>
                              <td width="100px">
                                  {{ item.price|money }}
                              </td>
                          </tr>
                      </tbody>
                    </table>
                  
                </td>
            </tr> 
            
           
        </table>
        
        <div class="clear"></div>

    </div>
    </div>
{% endblock %}