{% extends defaults.layouts ~ '/basic.twig' %}
{% import defaults.macros ~ '/shop.twig' as shop %}
{% import defaults.macros ~ '/markup.twig' as markup %}

{% block title %}
    {{ item.name }}
{% endblock %}

{% block metaKeywords %}{{ item.meta_keywords }}{% endblock %}
{% block metaDescription %}{{ item.meta_description }}{% endblock %}

{% block content %}
    <div class="shop">
        <div class="categories">
            <div class="categories-padder">
                <div class="categories-title">
                    Каталог
                </div>
                {% for item in shopCategories %}
                    {{ shop.categoryItem(item, true) }}
                {% endfor %}

                <div class="shop-info">
                    <div class="shop-info-item">
                        <div class="shop-info-pic"></div>
                        <a href="{{ path('shop_size_chart') }}" class="shop-info-text">Таблица размеров</a>
                    </div>

                    <div class="shop-info-item">
                        <div class="shop-info-pic"></div>
                        <a href="{{ path('brands') }}" class="shop-info-text">Наши бренды</a>
                    </div>
                </div>

            </div>
        </div>
        

        <div id="good" class="good-info lefted" data-id="{{ item.id }}">
            <div class="good-info-wrap">
                <div class="good-gallery">
                    <div class="good-gallery-main">
                        {{ shop.itemPicture(item.getIcon, 'full', 'gallery') }}
                    </div>
                    
                    <div class="good-gallery-thumbs">
                        {% for icon in item.getIcons %}
                            {% if loop.index > 1 %}
                            <div class="good-gallery-thumb">
                                {{ shop.itemPicture(icon, 'small', 'gallery') }}
                            </div>
                            {% endif %}
                        {% endfor %}
                        <div class="clear"></div>                    
                    </div>
                </div>
                
                <div class="good-info-row">
                    <div class="good-article-wrap">
                        <div class="good-article">
                            Арт. {{ item.article }}
                        </div>
                        <h1 class="good-name">
                            {{ item.name }}
                        </h1>
                    </div>
                    
                    {{ shop.rating(item, path('shop_good_ratings_index', {'good': item.encoded_key})) }}
                    
                    <div class="good-info-delivery{% if not item.isAvailable %} notAvailable{% endif %}">
                        <div class="icon"></div>
                        
                        <div class="good-info-delivery-title">
                            {% if item.isAvailable %}
                                В наличии :)
                            {% else %}
                                Отсутствует :(
                            {% endif %}
                        </div>
    {#
                        <div class="good-info-delivery-date">
                            Доставка уже завтра
                        </div>
    #}
                    </div>


                    {% if item.isAvailable %}
                        <div class="good-prices">
                            {% if item.sizes|length > 1 %}
                                {% set showSizeName = true %}
                            {% endif %}
                            
                            <table class="good-info-buy{% if not showSizeName %} hideSize{% endif %}">                
                            {% for size in item.sizes %}
                                <tr class="good-info-size" data-id="{{ size.id }}">
                                    <td>
                                        <div class="buy-price-frame">
                                        {{ size.getDiscountedPrice|money }}
                                        </div>
                                    </td>
                                    <td class="good-size">
                                        {{ size.name }}
                                        <div class="buy-size-frame"></div>                                
                                    </td>
                                    <td>
                                        <div class="buy-button">
                                            Купить
                                        </div>
                                        <div class="buy-button-frame"></div>
                                    </td>
                                </tr>
                                {% if not loop.last %}
                                    <tr>
                                        <td colspan="3">
                                            <div class="buy-separator"></div>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </table>                
                        </div>
                    {% else %}
                        {# блок с просьбой напомнить, когда появится #}
                    {% endif %}
                    
                    {% if item.compound %}
                        <div class="good-info-desc">
                            <div class="good-info-brand-title">                    
                                Состав:
                            </div>
                            <div class="good-info-compound">
                                {{ item.compound|raw }}
                            </div>
                        </div>
                    {% endif %}
                    
                    <div class="good-info-brand">
                        <div class="good-info-brand-title">
                            Производитель: 
                        </div>
                        <a href="{{ path('brands') }}#{{ item.brand.name|lower }}" class="good-info-brand-name">
                            {{ item.brand.name }}
                        </a>
                    </div>

                    <div class="good-info-brand">
                        {{ markup.addThisBar() }}
                    </div>
                </div>

                <div class="clear"></div>
                
                <div class="good-info-desc">
                    {{ item.description|raw }}
                </div>
            </div>

            <div class="clear"></div>


            
            {% if additionalGoods|length %}
                <div class="goods-title">
                    С этим товаром часто покупают:
                </div>
                {{ shop.goods(additionalGoods) }}    
            {% endif %}
        </div>
    </div>
{% endblock %}
