{% extends defaults.layouts ~ '/basic.twig' %}
{% import defaults.macros ~ '/shop.twig' as shop %}
{% import defaults.macros ~ '/markup.twig' as markup %}

{% import defaults.macros ~ '/ratings.twig' as ratings %}
{% import defaults.macros ~ '/common.twig'  as common %}


{% block title %}

  {% if item.title %}
    {{ item.title }}
  {% else %}
    {{ item.name }}
  {% endif %}
    
{% endblock %}

{% block metaKeywords %}{{ item.meta_keywords }}{% endblock %}
{% block metaDescription %}{{ item.meta_description }}{% endblock %}

{% block content %}
    <div class="shop">
        <div class="categories">
            <div class="categories-padder">
                <div class="categories-title">
                    Каталог
                </div>
                {% for item in shopCategories %}
                    {{ shop.categoryItem(item, true) }}
                {% endfor %}

                <div class="shop-info">
                    <div class="shop-info-item">
                        <div class="shop-info-pic"></div>
                        <a href="{{ path('shop_size_chart') }}" class="shop-info-text">Таблица размеров</a>
                    </div>

                    <div class="shop-info-item">
                        <div class="shop-info-pic"></div>
                        <a href="{{ path('brands') }}" class="shop-info-text">Наши бренды</a>
                    </div>
                </div>

            </div>
        </div>
        

        <div id="good" class="good-info lefted" data-id="{{ item.id }}">
            <div class="good-info-wrap">
                
                <h1 class="good-name">{{ item.name }}</h1>
                {{ shop.breadcrumbs(breadcrumbs) }}<br />
                <div class="good-gallery">
                
                    <div class="good-gallery-main">
                        {{ shop.itemPicture(item.getIcon, 'full', 'gallery', item.name) }}
                    </div>
                    
                    <div class="good-gallery-thumbs">
                        {% for icon in item.getIcons %}
                            {% if loop.index > 1 %}
                            
                            <div class="good-gallery-thumb">
                                {{ shop.itemPicture(icon, 'small', 'gallery') }}
                            </div>
                            {% endif %}
                        {% endfor %}
                        <div class="clear"></div>                    
                    </div>
                </div>
                
                <div class="good-info-row">
                   
                    
                    {{ shop.rating(item, path('shop_good_ratings_index', {'good': item.encoded_key})) }}
                    
                    <div class="good-info-delivery{% if not item.isAvailable %} notAvailable{% endif %}">
                        <div class="icon"></div>
                        
                        <div class="good-info-delivery-title">
                            {% if item.isAvailable %}
                                В наличии :)
                            {% else %}
                                Отсутствует :(
                            {% endif %}
                        </div>
    {#
                        <div class="good-info-delivery-date">
                            Доставка уже завтра
                        </div>
    #}
                    </div>


                    {% if item.isAvailable %}
                        <div class="good-prices">
                            {% if item.sizes|length > 1 %}
                                {% set showSizeName = true %}
                            {% endif %}
                            
                            <table class="good-info-buy{% if not showSizeName %} hideSize{% endif %}">                
                            {% for size in item.sizes %}
                                <tr class="good-info-size" data-id="{{ size.id }}">
                                    <td>
                                        <div class="buy-price-frame">
                                        Цена:&nbsp;{{ size.getDiscountedPrice }} руб.
                                        </div>
                                    </td>
                                    <td class="good-size">
                                        {{ size.name }}
                                        <div class="buy-size-frame"></div>                                
                                    </td>
                                    <td>
                                        <div class="buy-button">
                                            Купить
                                        </div>
                                        <div class="buy-button-frame"></div>
                                    </td>
                                </tr>
                                {% if not loop.last %}
                                    <tr>
                                        <td colspan="3">
                                            <div class="buy-separator"></div>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </table>                
                        </div>
                    {% else %}
                        {# блок с просьбой напомнить, когда появится #}
                    {% endif %}
                    
                    {% if item.compound %}
                        <div class="good-info-desc">
                            <div class="good-info-brand-title">                    
                                Состав:
                            </div>
                            <div class="good-info-compound">
                                {{ item.compound|raw }}
                            </div>
                        </div>
                    {% endif %}
                    
      
                    <div class="good-info-brand">
                        <div class="good-info-brand-title">
                            Арт: {{ item.article }}
                        </div>
                    </div>
                    
                    <div class="good-info-brand">
                        <div class="good-info-brand-title">
                          <b>Возраст:</b><br />
                          от: 
                          {% if item.age_from == 0.25 %}
                            3 месяцев
                          {% elseif item.age_from == 0.5 %}
                            6 месяцев
                          {% elseif item.age_from == 0.75 %}
                            9 месяцев
                          {% elseif item.age_from == 1 %}
                            12 месяцев
                          {% elseif item.age_from == 1.25 %}
                            15 месяцев
                          {% elseif item.age_from == 1.5 %}
                            18 месяцев
                          {% elseif item.age_from == 1.75 %}
                            21 месяца
                          {% else %}
                            {{ item.age_from }} лет
                          {% endif %}
                          <br />
                          до:
                          {% if item.age_to == 0.25 %}
                            3 месяцев
                          {% elseif item.age_to == 0.5 %}
                            6 месяцев
                          {% elseif item.age_to == 0.75 %}
                            9 месяцев
                          {% elseif item.age_to == 1 %}
                            12 месяцев
                          {% elseif item.age_to == 1.25 %}
                            15 месяцев
                          {% elseif item.age_to == 1.5 %}
                            18 месяцев
                          {% elseif item.age_to == 1.75 %}
                            21 месяца
                          {% else %}
                            {{ item.age_to }} лет
                          {% endif %}

                        </div>
                    </div>
                    
                    <div class="good-info-brand">
                        <div class="good-info-brand-title">
                            Производитель: 
                        </div>
                        <a href="{{ path('brand') }}{{ item.brand.link|lower }}" class="good-info-brand-name">
                            {{ item.brand.name }}
                        </a>
                    </div>

                    <div class="good-info-brand">
                        {{ markup.addThisBar() }}
                    </div>
                  
                    <div class="good-info-brand">
                        <a href="http://clck.yandex.ru/redir/dtype=stred/pid=47/cid=2508/*http://grade.market.yandex.ru/?id=103012&action=link">
                          <img src="http://clck.yandex.ru/redir/dtype=stred/pid=47/cid=2507/*http://grade.market.yandex.ru/?id=103012&action=image&size=2" 
                               border="0" width="150" height="101" 
                               alt="Читайте отзывы покупателей и оценивайте качество магазина на Яндекс.Маркете" />
                        </a>
                    </div>
                  
                </div>

                <div class="clear"></div>
                
                <div class="good-info-desc">
                    {{ item.description|raw }}
                </div>
                
<!--КОМЕНТЫ-->
<div class="good-reviews lefted">
	<h1 class="good-reviews-title">
		Отзывы о товаре <a href="{{ item.url }}">{{ item.name }}</a>
	</h1>

	<div class="tabs">
		<div class="tabs-items" data-type="items">
			<div class="tabs-item selected">Отзывы ({{ reviews|length }})</div>
			<div class="tabs-item">Новый</div>
		</div>

		<div class="clear"></div>

		<div class="tabs-contents" data-type="contents">
			<div class="tabs-content selected">
				<div class="good-reviews-items">
      		{% for review in reviews %}
      			{{ ratings.review(review) }}
      		{% else %}
      			<em>Нет ни одного отзыва! Вы можете стать первым!</em>
      		{% endfor %}
      	</div>


			</div>


			<div class="tabs-content">
  			{% include defaults.macros ~ '/review.twig' %}
			</div>
			
		</div>
	</div>
</div>   
 <!--КОМЕНТЫ--> 
                
            </div>

            <div class="clear"></div>


            
            {% if additionalGoods|length %}
                <div class="goods-title">
                    С этим товаром часто покупают:
                </div>Пр
                {{ shop.goods(additionalGoods) }}    
            {% endif %}
            
            
            
        </div>
    </div>
    
    
    
  
{% endblock %}