{% extends defaults.layouts ~ '/manage.twig' %}

{% block title %}
    {% if item.id %}
        Правка клиента &laquo;{{ item.name }}&raquo; <a href="{{ path('manage_clients_remove', {'clientId': item.id}) }}" >Удалить</a>
    {% else %}
        Новый клиент
    {% endif %}
{% endblock %}

{% block content %}
    <div class="header-title">{{ block('title') }}</div>
    
    <form method="post" enctype="multipart/form-data">
        {% if item.id %}
            <input type="hidden" name="id" value="{{ item.id }}">
        {% endif %}
                
        <table class="form-table lefted">
            <tr>
                <td width="100px">
                    Имя
                </td>
                <td width="300px">
                	<div class="input-wrap">
	                    <input name="first_name" value="{{ item.first_name }}" />
	                </div>
                </td>
            </tr> 

            <tr>
                <td>
                    Фамилия
                </td>
                <td>
                    <div class="input-wrap">
	                    <input name="last_name" value="{{ item.last_name }}" />
	                </div>
                </td>
            </tr>

			<tr>
                <td>
                    Логин/Электропочта
                </td>
                <td>
                    <div class="input-wrap">
	                    <input name="email" value="{{ item.user.login }}"{% if item.id %} disabled="disabled"{% endif %} />
	                </div>
                </td>
            </tr>                    

            <tr>
                <td>
                    Телефон
                </td>
                <td>
                    <div class="input-wrap">
                        <input type="text" name="phone" value="{{ item.phone }}" />
                    </div>
                </td>
            </tr>            

            <tr>
                <td>
                    Описание
                </td>
                <td>
                    <div class="input-wrap">
                        <textarea name="description" class="wysiwyg" data-common="{{ defaults.common }}">{{ item.description }}</textarea>
                    </div>
                </td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <div class="form-submit">
                        <button type="submit" name="proceed">
                            Сохранить
                        </button>
                    </div>                
                </td>
            </tr>
        </table>

        <div class="row lefted">
            <div class="gallery">
                {% if item.getIcons|length %}
                    <div class="gallery-wrap" data-url="{{ path('manage_processPictures') }}" data-type="client">
                    {% for pic in item.getIcons %}
                        <div class="gallery-item" data-id="{{ pic.id }}">
                            <div class="gallery-item-delete"></div>
                            <img width="40px" height="40px" src="{{ pic.picture.icon }}" />
                        </div>
                    {% endfor %}
                        <div class="clear"></div>
                    </div>
                {% endif %}
                <input type="file" name="pictures[]" multiple="multiple" min="1" max="5" />
            </div>
        </div>    
        
        <div class="clear"></div>
    </form>
{% endblock %}