{% macro itemPicture(icon, type, gallery) %}    
    {% if icon.picture.filename %}
        {% if gallery %}
            <a class="fancybox" rel="gallery" href="{{ path('item_img', {'filename': icon.picture.filename, 'type': 'full'}) }}">
        {% endif %}
            <img src="{{ path('item_img', {'filename': icon.picture.filename, 'type': type}) }}" />            
        {% if gallery %}            
            </a>
        {% endif %}
    {% else %}
        <img src="{{ defaults.common }}/img/noimg.gif" width="40px" height="40px" />
    {% endif %}
{% endmacro %}

{% macro big_old(banners) %}
    <div class="bigbanners">
        {% for banner in banners %}
            {{ _self.bigBanner(banner, loop.first) }}
        {% endfor %}
        <div class="bigbanner-pager">
            {% for page in 1..banners|length %}
                <div class="bigbanner-page{% if loop.first %} selected{% endif %}">
                    {{ page }}
                </div>
            {% endfor %}
        </div>
        <div class="clear"></div>
    </div>
{% endmacro %}


{% macro big(banners) %}
        <div class="baners-items" data-type="slidebanner">
            <div class="baners-uis">
                <div class="baners-ui left" data-type="control"></div>
                <div class="baners-ui right" data-type="control" data-dir="right"></div>
            </div>

            <div class="baners-items-wrap">
            
                {% for banner in banners %}
                    <div class="baners-item{% if loop.first %} active{% endif %}" data-type="slide">
                        <div class="baners-item-pic">
                            {{ _self.bigBanner(banner, loop.first) }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
{% endmacro %}


{% macro bigBanner(banner, selected) %}

    {% if banner.link %}
        <a href="{{ banner.link }}">
    {% endif %}
        {{ _self.itemPicture(banner.getIcon, 'big_banner') }}
    {% if banner.link %}
        </a>
    {% endif %}

{% endmacro %}


{% macro bigBanner_old(banner, selected) %}
    <div class="bigbanner-item{% if selected %} selected{% endif %}">
        <div class="bigbanner-pic">
            {% if banner.link %}
                <a href="{{ banner.link }}">
            {% endif %}
                {{ _self.itemPicture(banner.getIcon, 'big_banner') }}
            {% if banner.link %}
                </a>
            {% endif %}
        </div>

        <div class="banner-link">
            {% if banner.link %}
                <a href="{{ banner.link }}">
            {% endif %}
                {{ banner.title }}
            {% if banner.link %}
                </a>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro today(banner) %}
    <div class="todayBanner">
        <div class="todayBanner-wrap">
            <div class="todayBanner-header"></div>
            <div class="todayBanner-pic">
                {% if banner.link %}
                    <a href="{{ banner.link }}">
                {% endif %}
                    {{ _self.itemPicture(banner.getIcon, 'today_banner') }}
                {% if banner.link %}
                    </a>
                {% endif %}
            </div>
            <table class="todayBanner-title">
                <tr>
                    <td>
                        <a href="{{ banner.link }}">{{ banner.title }}</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endmacro %}

{% macro shop(banners) %}
    <div class="main-body-wrap">
        <div class="goods-title">
            В магазине
        </div>

        {% for banner in banners %}
            <div class="banner-item{% if loop.last %} last{% endif %}">
                <div class="banner-pic">
                    {% if banner.link %}
                            <a href="{{ banner.link }}">
                    {% endif %}
                        {{ _self.itemPicture(banner.getIcon, 'shop_banner') }}
                    {% if banner.link %}
                        </a>
                    {% endif %}
                </div>
                {% if banner.title %}
                    <div class="banner-title">
                        {% if banner.link %}
                            <a href="{{ banner.link }}">
                        {% endif %}
                            {{ banner.title }}
                        {% if banner.link %}
                            </a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>        
{% endmacro %}


{% macro goods_age(goods_age) %}
    <div class="main-top-good" id="good">

        <div class="hit_title">В магазине</div>
        {% for good in goods_age %}
            <div class="goods-item">
              <div class="good-item-pic">
                  <a href="{{ good.url }}">{{ _self.itemPicture(good.getIcon, 'small','',good.name) }}</a>
              </div>

              <div class="good-item-title">
                  <a href="{{ good.url }}" >{{ good.name|truncate(75) }}</a>
              </div>
              
              {% if good.discount %}
                  <div class="good-item-oldprice">
                      <span class="rub">{{ good.old_price }}</span>
                  </div>
      
                  <div class="good-item-price discounted">
                      <span class="rub">{{ good.price }}</span>
                  </div>
              {% else %}
                  <div class="good-item-price">
                      <span class="rub">{{ good.price }}</span>
                  </div>
              {% endif %}
              
              <div class="good-info-buy button-wrap" >
              {% if good.sizes|length > 1 %}
                  <a class="button-item" href="{{ good.url }}" >Купить</a>
              {% else %} 
                {% for size in good.sizes %}  
                <div class="good-info-size button-item" data-id="{{ size.id }}">
                  Купить
                </div> 
                {% endfor %}
              {% endif %}
              </div>

            </div>
        
        {% endfor %}
    </div>        
{% endmacro %}



{% macro partners_old(partners) %}
    <div class="partners main-body-wrap">
        <div class="goods-title">
            Наши друзья
        </div>

        <div class="partners-items" data-type="slidebanner">
            <div class="partners-uis">
                <div class="partners-ui left" data-type="control"></div>
                <div class="partners-ui right" data-type="control" data-dir="right"></div>
            </div>

            <div class="partners-items-wrap">
                {% for partner in partners %}
                    <div class="partners-item{% if loop.first %} active{% endif %}" data-type="slide">
                        <div class="partners-item-pic">
                            {{ _self.itemPicture(partner.getIcon, 'shop_banner') }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="partners-all">
            <a href="{{ path('partners') }}">
                Все друзья
            </a>
        </div>
    </div>
{% endmacro %}

{% macro partners(partners) %}

    <div class="partners-wrap">
        <div class="partners-text">
        Нам доверяют лучшие <br />специалисты в области <br />детской жизни. Мы гордимся <br />своими партнерами
        </div>
        <div id="makeMeScrollable2">
        {% for partner in partners %}
            <div class="partners-cell" >
                {{ _self.itemPicture(partner.getIcon, 'shop_banner') }}
            </div>
        {% endfor %}
        </div>
        <div class="clear"></div>
    </div>
    
{% endmacro %}


{% macro places(items) %}
    <div class="places-banner">
        <div class="places-banner-items" data-type="slidebanner">
            <div class="partners-banner-uis">
                <div class="partners-banner-ui left" data-type="control"></div>
                <div class="partners-banner-ui right" data-type="control" data-dir="right"></div>
            </div>

            <div class="places-banner-items-wrap">
                {% for item in items %}
                    <div class="places-item{% if loop.first %} active{% endif %}" data-type="slide">
                        <div class="places-item-pic">
                            <a href="{{ item.url }}">
                                {{ _self.itemPicture(item.getIcon, 'place_banner') }}
                            </a>
                        </div>
                        <div class="places-item-info">
                            <div class="places-item-date">
                                {{ item.created|date('d.m.Y') }}
                            </div>

                            <div class="places-item-announce">
                                {{ item.announce|truncate(100) }}
                            </div>

                            <div class="places-item-metro">
                                <div class="places-item-icon"></div>
                                {{ item.metro.name }}
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro last_article(items) %}
  <div class="title_flag"><span>Полезные статьи</span></div>
  {% for item in items %}
      {% if loop.first %}
        <div class="article-cell first">
          <div class="article-thumb">{{ _self.itemPicture(item.getIcon, 'small_event') }}</div>
          <div class="article-date">{{ item.created|date('d.m.Y') }}</div>
          <div class="article-name">
            <a href="{{ item.url }}">{{ item.name }}</a>
          </div>
          <div class="article-announce">{{ item.announce|truncate(100) }}</div>
        </div>
        <div class="article-noimage">
      {% else %}
        <div class="article-cell">
          <span class="article-date">{{ item.created|date('d.m.Y') }}</span> : 
          <span class="article-name">
            <a href="{{ item.url }}">{{ item.name }}</a>
          </span>
          <div class="article-announce">{{ item.announce|truncate(100) }}</div>
        </div>
      {% endif %}
        
  {% endfor %}
      </div>
      <div class="clear"></div>
{% endmacro %}

{% macro last_news(items) %}
  <div class="title_flag"><span>Новости и акции</span></div>
  {% for item in items %}
    <div class="news-cell">
    <div class="news-name">
        <a href="{{ item.url }}">
            {{ item.name }}
        </a>
    </div>
    <div class="news-announce">
        {{ item.announce|truncate(100) }}
    </div>
    <div class="news-date">
        {{ item.created|date('d.m.Y') }}
    </div>
    </div>
  {% endfor %}
    
{% endmacro %}