{% macro rating(item, url) %}
    {% import defaults.macros ~ '/markup.twig' as markup %}
    
    <div class="reviews">
        <div class="reviews-stars">
            {{ markup.rating({'selected': item.rating, 'static': true}) }}
        </div>

        {% if url %}
            
                {% if item.rating is not null %}
                    Отзывов: {{ item.reviews|length }}
                {% else %}
                    нет отзывов
                {% endif %}
            
        {% endif %}
        <div class="clear"></div>
    </div>
{% endmacro %}

{% macro pagerItem(page, route, params) %}
    {% set params = params|merge({'page': page}) %}

    {% if params.current == page %}
        <div class="pager-item selected">
    {% else %}
        <a class="pager-item" href="{{ path(route, params) }}">
    {% endif %}
        {{ page }}
    {% if params.current == page %}
        </div>
    {% else %}
        </a>
    {% endif %}
{% endmacro %}

{% macro pager(pager) %}
    {% set range = 2 %}
    <div class="pager">
        <div class="pager-wrap">
            <div class="pages">
                {% set start = pager.current - range %}
                {% set stop  = pager.current + range %}

                {% if start < 1 %}
                    {% set start = 1 %}
                {% endif %}

                {% if stop > pager.total %}
                    {% set stop = pager.total %}
                {% endif %}

                {% if start > 1 %}
                    {% set _stop = pager.current - range - 1 %}

                    {% if _stop > range %}
                        {% set _stop = range %}
                    {% endif %}

                    {% for page in 1.._stop %}
                        {{ _self.pagerItem(page, pager.route, pager.routeParams) }}
                    {% endfor %}

                    {% if start > range + range - 1 %}
                        <div class="pager-delim">&hellip;</div>
                    {% endif %}
                {% endif %}

                {% for page in start..stop %}
                    {{ _self.pagerItem(page, pager.route, pager.routeParams) }}
                {% endfor %}

                {% if stop < pager.total %}
                    {% if pager.current < pager.total - range - range %}
                        <div class="pager-delim">&hellip;</div>
                    {% endif %}

                    {% set _start = pager.current + range + 1 %}

                    {% if _start < pager.total - range + 1 %}
                        {% set _start = pager.total - range + 1 %}
                    {% endif %}

                    {% for page in _start..pager.total %}
                        {{ _self.pagerItem(page, pager.route, pager.routeParams) }}
                    {% endfor %}

                {% endif %}                
                <div class="clear"></div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro getMenu(menu) %}
    {% for item in menu %}
        <div class="menu-item">
            {% if item.route %}
                <a href="{{ path(item.route) }}" class="menu-item-name">
            {% else %}
                <div class="menu-item-name">
            {% endif %}
                {{ item.name }}
            {% if item.route %}
                </a>
            {% else %}
                </div>
            {% endif %}

            {% if item.children %}
                <div class="menu-item-children">
                    {{ _self.getMenu(item.children) }}
                </div>
            {% endif %}
        </div>
    {% endfor %}
    <div class="clear"></div>
{% endmacro %}

{% macro sortableCategory(item, selected, type) %}
    {% if not type %}
        {% set type = 'goods' %}
    {% endif %}
    <li class="category-item{% if not item.is_visible %} category-item-hidden{% endif %}{% if selected == item.id %} selected{% endif %}" data-id="{{ item.id }}" data-type="{{ type }}">
        <div class="category-name">   
            <div class="category-op">                 
                <div class="category-op-item edit" data-type="edit">
                    <a href="{{ path('manage_' ~ type ~ '_category_edit', {'categoryId': item.id}) }}" class="icon"></a>
                </div>
                
                <div class="category-op-item hide" data-type="hide">
                    <div class="icon"></div>
                </div>                
                
                <div class="category-op-item show" data-type="show">
                    <div class="icon"></div>
                </div>                
            
                <div class="category-op-item delete" data-type="delete" data-confirm="1">
                    <div class="icon"></div>
                </div>
            </div>
            <div class="category-inside">↳</div>                        
            {{ item.name }}

        </div>
        <ol>
            {% for _item in item.children %}
                {{ _self.sortableCategory(_item, selected, type) }}
            {% endfor %}
        </ol>
    </li>
{% endmacro %}

{% macro sortableCategoryItem(item, selected, type) %}
    {% if not type %}
        {% set type = 'goods' %}
    {% endif %}
    <li class="category-item{% if not item.is_visible %} category-item-hidden{% endif %}{% if selected == item.id %} selected{% endif %}" data-id="{{ item.id }}" data-type="{{ type }}">
        <div class="category-name">   
            <div class="category-op">                 
                <div class="category-op-item edit" data-type="edit">
                    <a href="{{ path('manage_' ~ type ~ '_category_edit', {'categoryId': item.id}) }}" class="icon"></a>
                </div>
                
                <div class="category-op-item hide" data-type="hide">
                    <div class="icon"></div>
                </div>                
                
                <div class="category-op-item show" data-type="show">
                    <div class="icon"></div>
                </div>                
            
                <div class="category-op-item delete" data-type="delete" data-confirm="1">
                    <div class="icon"></div>
                </div>
            </div>
            <div class="category-inside">↳</div>                        
            <a href="/manage/goods/categorys/{{  item.link }}" >{{ item.name }}</a>

        </div>
        <ol>
            {% for _item in item.children %}
                {{ _self.sortableCategoryItem(_item, selected, type) }}
            {% endfor %}
        </ol>
    </li>
{% endmacro %}

{% macro sortableCategoryEvent(item, selected, type) %}
    {% if not type %}
        {% set type = 'goods' %}
    {% endif %}
    <li class="category-item{% if not item.is_visible %} category-item-hidden{% endif %}{% if selected == item.id %} selected{% endif %}" data-id="{{ item.id }}" data-type="{{ type }}">
        <div class="category-name">   
            <div class="category-op">                 
                <div class="category-op-item edit" data-type="edit">
                    <a href="{{ path('manage_' ~ type ~ '_category_edit', {'categoryId': item.id}) }}" class="icon"></a>
                </div>
                
                <div class="category-op-item hide" data-type="hide">
                    <div class="icon"></div>
                </div>                
                
                <div class="category-op-item show" data-type="show">
                    <div class="icon"></div>
                </div>                
            
                <div class="category-op-item delete" data-type="delete" data-confirm="1">
                    <div class="icon"></div>
                </div>
            </div>
            <div class="category-inside">↳</div>                        
            <a href="/manage/events/categorys/{{  item.link }}" >{{ item.name }}</a>

        </div>
        <ol>
            {% for _item in item.children %}
                {{ _self.sortableCategoryEvent(_item, selected, type) }}
            {% endfor %}
        </ol>
    </li>
{% endmacro %}


{% macro sortableCategoryArticle(item, type) %}
    <li class="category-item" data-id="{{ item.id }}" data-type="{{ type }}">
        <div class="category-name">   
            <div class="category-op">                 
                <div class="category-op-item edit" data-type="edit">
                    <a href="{{ path('manage_' ~ type ~ '_category_edit', {'categoryId': item.id}) }}" class="icon"></a>
                </div>
                
                <div class="category-op-item hide" data-type="hide">
                    <div class="icon"></div>
                </div>                
                
                <div class="category-op-item show" data-type="show">
                    <div class="icon"></div>
                </div>                
            
                <div class="category-op-item delete" data-type="delete" data-confirm="1">
                    <div class="icon"></div>
                </div>
            </div>
            <div class="category-inside">↳</div>                        
            <a href="/manage/{{type}}/categorys/{{ item.link }}" >{{ item.name }}</a>

        </div>

    </li>
{% endmacro %}



{% macro optionCategory(item, selected, current) %}

  {% if current != item.id %}
    <option value="{{ item.id }}"{% if selected == item.id %} selected="selected"{% endif %} data-id="{{ item.id }}" >{{ item.name }}</option>
  {% endif %}
  
  {% for _item in item.children %}
      {{ _self.optionCategory(_item, selected, current) }}
  {% endfor %}
    
{% endmacro %}


{% macro optionCategoryInGood(item, selected) %}

  <option value="{{ item.id }}" {% for select in selected %} {% if select == item.id %} selected="selected"{% endif %} {% endfor %} data-id="{{ item.id }}" >{{ item.name }}</option>
  
  {% for _item in item.children %}
      {{ _self.optionCategoryInGood(_item, selected) }}
  {% endfor %}
    
{% endmacro %}


{% macro eventCategoryName(categories, selected) %}
  
  {% for item in categories %}
    {% if selected == item.id %} {{ item.name }} {% endif %}
  {% endfor %}

  
{% endmacro %}


{% macro itemPicture(icon, type, gallery) %}
    {% if icon.picture.filename %}
        {% if gallery %}
            <a class="fancybox" rel="gallery" href="{{ path('item_img', {'filename': icon.picture.filename, 'type': 'full'}) }}">
        {% endif %}
            <img src="{{ path('item_img', {'filename': icon.picture.filename, 'type': type}) }}" />            
        {% if gallery %}            
            </a>
        {% endif %}
    {% else %}
        <img src="{{ defaults.common }}/img/noimg.gif" />
    {% endif %}
{% endmacro %}


{% macro rootStoreCategoty(rootCategories,count) %}
  {% for item in rootCategories %}
    <div class="column-group{% if drop == 0 %} first{% endif %} {% if 0 == loop.index % count%} last{% endif %}">
        <a href="{{ item.url }}">{{item.name}}</a>
    </div>
    {% if 0 == loop.index % count%} {% set drop = 0 %} {% else %} {% set drop = 1 %} {% endif %}
    {% if 0 == loop.index % count%} <div class="clear"></div> {% endif %}
  {% endfor %}
  <div class="clear"></div>
{% endmacro %}