{% extends defaults.layouts ~ '/basic.twig' %}
{% import defaults.macros ~ '/ratings.twig' as ratings %}
{% import defaults.macros ~ '/banners.twig' as banners %}
{% import defaults.macros ~ '/markup.twig'  as markup %}
{% import defaults.macros ~ '/places.twig'  as places %}

{% block title %}
    Отзывы о месте &laquo;{{ item.name }}&raquo;
{% endblock %}

{% block content %}
    <div class="page short">
        <div class="place">
            <div class="place-head">
                <div class="place-head-img">
                    {{ places.itemPicture(item.getIcon, 'place') }}
                </div>
                
                <div class="place-head-info">
                    <div class="place-head-wrap">
                        <a href="{{ item.category.url }}" class="place-category">
                            {{ item.category.name }}
                        </a>
                        
                        <div class="place-address-wrap">
                            <div class="place-address-head">Где это?</div>
                            <div class="place-address">{{ item.address }}</div>
                            {% if item.metro %}
                                <div class="place-metro">
                                    <div class="icon"></div>
                                    {{ item.metro.name }}
                                </div>
                            {% endif %}

                            {% if item.maps_yandex %}
                                <div class="place-maps yandex">
                                    <div class="icon"></div>
                                    <a target="_blank" href="{{ item.maps_yandex }}">На Яндекс.Картах</a>
                                    <div class="clear"></div>
                                </div>
                            {% endif %}
                            
                            {% if item.maps_google %}
                                <div class="place-maps google">
                                    <div class="icon"></div>
                                    <a target="_blank" href="{{ item.maps_google }}">На картах Гугла</a>
                                    <div class="clear"></div>
                                </div>
                            {% endif %}                        
                        </div>
                    </div>
                </div>
                <div class="clear"></div>                
            </div>

            <div class="place-info-wrap reviews">
                <h1>
                    <a href="{{ item.url }}">{{ item.name }}</a>
                </h1>

                <div class="tabs">
                    <div class="tabs-items" data-type="items">
                        <div class="tabs-item selected">Отзывы ({{ reviews|length }})</div>
                        <div class="tabs-item">Новый</div>
                    </div>

                    <div class="clear"></div>

                    <div class="tabs-contents" data-type="contents">
                        <div class="tabs-content selected">
                            <div class="good-reviews-items">
                                {% for review in reviews %}
                                    {{ ratings.review(review) }}
                                {% else %}
                                    <em>Нет ни одного отзыва! Вы можете стать первым!</em>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="tabs-content">
                            {% include defaults.macros ~ '/review.twig' %}
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="page-right">
            <div class="main-body-right">
                {{ banners.shop(shopBanners, true) }}
            </div>
        </div>

        <div class="clear"></div>
    </div>
{% endblock %}