{% extends defaults.layouts ~ '/manage.twig' %}

{% block title 'Бренды' %}

{% block content %}
    <div class="header-title">
        Бренды [<a href="{{ path('manage_brands_add') }}">+</a>]
        <form method="post" class="search_form">
          <input type="text" name="query" value="" /><input type="submit" name="item_search" value="Ok" /> 
        </form>
        <a href="{{ path('manage_brands_index') }}">Все</a>
    </div>
    <table class="items-table">
        <thead>
            <tr>
                <th width="50px">
                    <div>#</div>
                </th>
                <th width="50px">
                    <div>ID</div>
                </th>
                <th class="left">
                    <div>Название бренда</div>
                </th>
                <th class="left" width="100px">
                    <div>Товаров</div>
                </th>                    
            </tr>
        </thead>
        <tbody>
            {% for brand in brands %}        
                <tr class="items-table-item">
                    <td>{{ loop.index }}</td>   
                    <td>{{ brand.id }}</td>   
                    <td class="left">
                        {{ brand.name }}
                        <div class="tools">
                            <div class="tools-item edit" data-type="edit">
                                <a href="{{ path('manage_brands_edit', {'brandId': brand.id}) }}" class="icon"></a>
                            </div>
                        
                            <div class="tools-item delete" data-type="delete" data-confirm="true">
                                <a href="{{ path('manage_brands_remove', {'brandId': brand.id}) }}" class="icon"></a>
                            </div>
                        </div>                        
                    </td>
                    <td>{{ brand.goods|length }}</td>
                </tr>
            {% endfor %}                    
        </tbody>
    </table>    
{% endblock %}