{% extends defaults.layouts ~ '/manage.twig' %}
{% import defaults.macros ~ '/manage.twig' as manage %}

{% block title %}
    {% if event.id %}
        Правка события &laquo;{{ event.name|default('Без названия') }}&raquo;
    {% else %}
        Новое событие
    {% endif %}
{% endblock %}

{% block content %}

  <script type="text/javascript" src="{{ defaults.common }}/js/mylibs/tinymce/jquery.tinymce.js"></script>
    <script type="text/javascript">
        $(function() {
            $('textarea.wysiwyg').each(function() {
                $(this).closest('.input-wrap').addClass('tinymce');
                $(this).tinymce({
                    script_url : '{{ defaults.common }}/js/mylibs/tinymce/tiny_mce.js',
                    mode : "textareas",
                    theme : "advanced",
                    plugins : "table",
            
                    // Theme options
                    theme_advanced_buttons1 : "bold,italic,underline,strikethrough,|,bullist,numlist,|,fontselect,fontsizeselect,|,justifyleft,justifycenter,justifyright,justifyfull,|,table,removeformat,code",
                    theme_advanced_buttons2 : "",
                    theme_advanced_buttons3 : "",
                    theme_advanced_buttons4 : "",
                    theme_advanced_toolbar_location : "top",
                    theme_advanced_toolbar_align : "left",
                    theme_advanced_statusbar_location : "bottom",
                    theme_advanced_resizing : true,
                    width: 410,             
                    content_css : "{{ defaults.common }}/css/style.css"
                });
            });
        });
    </script>

    <div class="header-title">{{ block('title') }}</div>
    
    <form method="post" enctype="multipart/form-data">
        {% if event.id %}
            <input type="hidden" name="id" value="{{ event.id }}">
        {% endif %}

        <div class="tabs lefted">
            <div class="tabs-items" data-type="items">
                <div class="tabs-item selected">
                    Основное
                </div>
                <div class="tabs-item">
                    МЕТА
                </div>
                <div class="clear"></div>
            </div>

            <div class="tabs-contents" data-type="contents">
                <div class="tabs-content selected">
                
                    <table class="form-table">
                        <tr>
                            <td width="120px">
                                Название
                            </td>
                            <td width="300px">
                                <div class="input-wrap">
                                    <input type="text" name="name" value="{{ event.name }}">
                                </div>
                            </td>
                            <td width="20px"></td>
                        </tr>
                        
                        <tr>
                            <td>
                                Возраст
                            </td>
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            От
                                        </td>
                                        <td>
                                            <select name="age_from">
                                                <option value="any">Любой</option>
                                                
                                                {% for age in 0..18 %}
                                                    <option{% if event.age_from is not null and event.age_from == age %} selected="selected"{% endif %}>{{ age }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            До
                                        </td>
                                        <td>
                                            <select name="age_to">
                                                <option value="any">Любой</option>                                
                                                {% for age in 0..18 %}
                                                    <option{% if event.age_to is not null and event.age_to == age %} selected="selected"{% endif %}>{{ age }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                                Дата проведения
                            </td>
                            <td class="nopad">
                                <table class="last">
                                    <tr>
                                        <td width="300px">
                                            <div class="input-wrap">
                                                <input type="text" name="held_date" class="jcalendar showTime" value="{{ event.held_date|date('d.m.Y H:i') }}">
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>            

                        <tr>
                            <td>
                                Стоимость
                            </td>
                            <td>
                                <div class="input-wrap">
                                    <input type="text" name="price" value="{{ event.price }}" placeholder="Бесплатно" />
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Категория
                            </td>
                            <td>
                                <select name="category">
                                    <option value="0">Временная</option>                    
                                    {% for category in categories %}
                                        <option value="{{ category.id }}"{% if event.category_id == category.id %} selected="selected"{% endif %}>
                                            {{ category.name }}
                                        </option>
                                        {% for category in category.children %}
                                            <option value="{{ category.id }}"{% if event.category_id == category.id %} selected="selected"{% endif %}>
                                                -&nbsp;{{ category.name }}
                                            </option>
                                        {% endfor %}
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>            
                        

                        <tr>
                            <td>
                                Модерация
                            </td>
                            <td>
                                <select name="moderation">
                                    <option value="0">На проверке</option>                    
                                    <option value="1"{% if event.is_checked == 1 %} selected="selected"{% endif %}>Пройдена</option>
                                </select>
                            </td>
                        </tr>            
                        
                        
                        <tr>
                            <td>
                                Место
                            </td>
                            <td>
                                <select name="place">
                                    {% for place_category in placeCategories %}
                                        <optgroup label="{{ place_category.name }}">
                                            {% for place in place_category.getPlaces %}
                                                <option value="{{ place.id }}"{% if place.id == event.place_id %} selected="selected"{% endif %}>{{ place.name }}</option>
                                            {% endfor %}
                                        </optgroup>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Источник:
                            </td>
                            <td>
                                <select name="reporter">
                                    {% for reporter in reporters %}
                                        <option value="{{ reporter.id }}"{% if event.creator.id == reporter.id %} selected="selected"{% endif %}>{{ reporter.name|default('Клиент №' ~ reporter.id) }}</option>
                                    {% endfor %}
                                </select>
                                {#
                                    <a href="{{ path('manage_clients_edit', {'clientId': event.creator.id}) }}">{{ event.creator.name|default('Клиент №' ~ event.creator.id) }}</a>&nbsp;[<a href="mailto:{{ event.creator.email|default(event.creator.user.login) }}">{{ event.creator.email|default(event.creator.user.login) }}]</a>
                                #}
                            </td>
                        </tr>

                        {% if event.id and not event.is_checked and (event.place_hint or event.sponsor_hint) %}
                            <tr>
                                <td>
                                    Пользователь сообщил о&nbsp;месте проведения:
                                </td>
                                <td>
                                    {{ event.place_hint }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    ...об организаторах мероприятия:
                                </td>
                                <td>
                                    {{ event.sponsor_hint }}
                                </td>
                            </tr>
                        {% endif %}

                        <tr>
                            <td>
                                Организаторы
                            </td>
                            <td>
                                <select name="sponsors[]" multiple="multiple">
                                    {% if event.sponsors %}
                                        {% set sponsors = event.sponsors %}
                                        {% set selectable = true %}
                                    {% endif %}
                                        {% for sponsor in sponsors %}
                                            <option value="{{ sponsor.id }}"{% if selectable and sponsor.selected %} selected="selected"{% endif %}>
                                                {{ sponsor.name }}
                                            </option>
                                        {% endfor %}
                                </select>
                            </td>
                        </tr>   
                        
                        <tr>
                            <td>
                                Описание
                            </td>
                            <td>
                                <div class="input-wrap">
                                    <textarea name="description" class="wysiwyg" data-common="{{ defaults.common }}">{{ event.description }}</textarea>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="tabs-content">
                    <table class="form-table">
                        <tr>
                            <td width="120px" class="top">
                                META-keywords
                            </td>
                            <td width="500px">
                                <div class="input-wrap">
                                    <textarea name="meta_keywords">{{ event.meta_keywords }}</textarea>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                META-description
                            </td>
                            <td>
                                <div class="input-wrap">
                                    <textarea name="meta_description">{{ event.meta_description }}</textarea>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="row lefted">
            <div class="gallery">
                {% if event.getIcons|length %}
                    <div class="gallery-wrap" data-url="{{ path('manage_processPictures') }}" data-type="event">
                    {% for pic in event.getIcons %}
                        <div class="gallery-item" data-id="{{ pic.id }}">
                            <div class="gallery-item-delete"></div>
                            <img width="40px" height="40px" src="{{ pic.picture.icon }}" />
                        </div>
                    {% endfor %}
                        <div class="clear"></div>
                    </div>
                {% endif %}
                <input type="file" name="pictures[]" multiple="multiple" min="1" max="5" />
            </div>
        </div>

        <div class="clear"></div>

        <table class="form-table">
            <tr>
                <td width="130px">&nbsp;</td>
                <td width="300px">
                    <div class="form-submit">
                        <button type="submit" name="proceed">
                                Сохранить
                        </button>
                    </div>
                </td>
            </tr>
        </table>

    </form>    
{% endblock %}