{% extends defaults.layouts ~ '/basic.twig' %}
{% import defaults.macros ~ '/shop.twig' as shop %}

{% block title 'Бренды' %}

{% block content %}
    <div class="page">
        <div class="column">
            <div class="brands">
                {% for brand in brands %}
                    <div class="brand-item">
                        
                        <div class="brand-img">
                            <a href="/brand/{{ brand.link }}">{{ shop.itemPicture(brand.getIcon, 'brand_preview') }}</a>
                        </div>
                        <div class="brand-content">
                            <div class="brand-title">
                                <h2><a href="/brand/{{ brand.link }}-detail" name="{{ brand.name|lower }}">{{ brand.name }}</a><h2>
                            </div>
                            <div class="brand-good"><a href="/brand/{{ brand.link }}">Смотреть все товары {{ brand.name }}</a></div>
                            <div class="brand-desc">{{ brand.description|raw }}</div>
                            <div class="brand-more"><span class="more_point">...</span><br />
                              <a href="/brand/{{ brand.link }}-detail">Подробнее</a>
                            </div>
                        </div>
					             <div class="clear"></div>
                    </div>
                {% endfor %}
                
                {% if pager %}
            {{ common.pager(pager) }}
        {% endif %}
                
            </div>
        </div>
        
        <div class="clear"></div>
    </div>
{% endblock %}

