{% extends defaults.layouts ~ '/basic.twig' %}
{% import defaults.macros ~ '/banners.twig' as banners %}
{% import defaults.macros ~ '/markup.twig' as markup %}
{% import defaults.macros ~ '/events.twig' as events %}
{% import defaults.macros ~ '/shop.twig' as shops %}
{% block title '' %}

{% block content %}
    <div id="good">
    <div class="main-page-common" >
      <div class="main-page-left">
        <div class="categories-title">
                    Каталог
                </div>
        {% for item in shopCategories %}

            {{ shops.categoryItem(item) }}
        {% endfor %}
      </div>
      <div class="main-page-right">
        <div class="main-slider">
          {{ banners.big(bigBanners) }}
        </div>
        <div class="main-seo-text">
          {% autoescape false %} {{ main_page.contents }} {% endautoescape %}
        </div>
        <div class="main-new-good">
          {{ shops.goods_main(newGoods) }}
        
        </div>
        <div class="main-last-events">
          <div class="event-header">
            <div class="event-header-title">События</div>
            <div class="event-header-category">{{ events.eventCategoryMain(categories) }}</div>
            <div class="event-header-date"></div>
          </div>
          {{ events.list_main(actualEvents) }}
          
          <script src="/common/needsandfun/js/mylibs/jquery.mousewheel.min.js" type="text/javascript"></script>
          <script src="/common/needsandfun/js/mylibs/jquery.kinetic.js" type="text/javascript"></script>
          <script src="/common/needsandfun/js/mylibs/jquery.smoothdivscroll-1.3-min.js" type="text/javascript"></script>
          <script type="text/javascript">
        		// Initialize the plugin with no custom options
        		$(document).ready(function () {
        			// None of the options are set
        			$("ul#makeMeScrollable").smoothDivScroll({
        				scrollToAnimationDuration: 2000
        			});
        		});
        	</script>
        </div>
        <div class="main-last-article">
          {{ banners.last_article(lastArticle) }}
        </div>
      </div>
      <div class="clear"></div>
      <div class="main-partners">
      {{ banners.partners(partners) }}
          <script type="text/javascript">
        		$(document).ready(function () {
        			$("#makeMeScrollable2").smoothDivScroll({
        				scrollToAnimationDuration: 2000
        			});
        		});
        	</script>
      </div>
    </div>
    
    <div class="main-page-sidebar">
      <div class="main-last-news">
      {{ banners.last_news(lastNews) }}
      </div>
      <div class="main-top-good" >
      {{ shops.goods_top(topGoods) }}
      </div>
      
      <div class="social-group-widget">
        <div class="social-group-widget-head">все горячие спецпредложения <br />в <span id="social-group-fb" class="active">фейсбуке</span> и <span id="social-group-vk">вконтактике</span></div>
        <div id="social-group-vk-show" class="group-widget" style="opacity:0">
          <script type="text/javascript" src="//vk.com/js/api/openapi.js?53"></script>
          <!-- VK Widget -->
          <div id="vk_groups"></div>
          <script type="text/javascript">
          VK.Widgets.Group("vk_groups", {mode: 0, width: "200", height: "290"}, 35939180);
          </script>
        </div>
        <div id="social-group-fb-show" class="group-widget" style="opacity:1">
          <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2F%D0%9D%D1%83%D0%B6%D0%BD%D0%BE-%D0%B8-%D0%92%D0%B5%D1%81%D0%B5%D0%BB%D0%BE%2F337994872909310&amp;width=200&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=false&amp;appId=359292310775946" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:258px;" allowTransparency="true"></iframe>
        </div>
      </div>
      
      
      
      
      
    </div>
    
    <div class="clear"></div>

    </div>
{#

    <div class="main-banners index">
    	<div class="main-banner big">
	        {{ banners.big(bigBanners) }}
	    </div>

       	<div class="main-banner today">
       		{{ banners.today(todayBanner) }}
       	</div>

       	<div class="clear"></div>
    </div>

    <div class="main-body">
        <div class="main-body-left">
        	{{ banners.shop(shopBanners) }}
            {{ banners.partners(partners) }}
        </div>

    	<div class="main-body-content">
    	     
    	     
    	
            <div class="tabs">
                <div class="tabs-items" data-type="items">
                    <div class="tabs-title">
                        Мир детей на этой неделе
                    </div>
                    <div class="tabs-item selected">
                        Список
                    </div>
                    <div class="tabs-item">
                        Календарь
                    </div>
                    <div class="tabs-item">
                        Разместить объявление
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>

                <div class="tabs-contents" data-type="contents">
                    <div class="tabs-content selected">
                        {{ events.list(actualEvents) }}
                    </div>

                    <div class="tabs-content">
                        {% if loggedUser %}
                            {{ events.calendar(loggedUser.client.calendar) }}
                        {% else %}
                            {{ markup.needToRegister }}
                        {% endif %}
                    </div>

                    <div class="tabs-content">
                        {% if loggedUser %}
                            {% include 'needsandfun/cabinet/event_form.twig' %}
                        {% else %}
                            {{ markup.needToRegister }}
                        {% endif %}
                    </div>
                </div>
            </div>


            <div class="bottom-banners">
                <div class="bottom-banners-places">
                    <div class="goods-title">
                        Новые места
                    </div>
                    {{ banners.places(places) }}
                </div>
                <div class="bottom-banners-articles">
                    <div class="goods-title">
                        Свежие статьи
                    </div>
                    {{ banners.article(articleBanner) }}
                    <br /><br />
                    <div class="goods-title">
                        Свежие новости
                    </div>
                    {{ banners.news(newsBanner) }}
                </div>
            </div>
        </div>
    </div>

    <div class="clear"></div>
    
#}
    
{% endblock %}