{% extends defaults.layouts ~ '/manage.twig' %}
{% import defaults.macros ~ '/manage.twig' as manage %}

{% block title %}
    {% if item.id %}
        Правка товара &laquo;{{ item.name }}&raquo;
    {% else %}
        Новый товар
    {% endif %}
{% endblock %}

{% block content %}
    <script type="text/javascript" src="{{ defaults.common }}/js/mylibs/tinymce/jquery.tinymce.js"></script>
    <script type="text/javascript">
        $(function() {
            $('textarea.smallwysiwyg').each(function() {
                $(this).closest('.input-wrap').addClass('tinymce');
                $(this).tinymce({
                    script_url : '{{ defaults.common }}/js/mylibs/tinymce/tiny_mce.js',
                    mode : "textareas",
                    theme : "advanced",
                    plugins : "table,inlinepopups",
            
                    // Theme options
                    theme_advanced_buttons1 : "bold,italic,underline,strikethrough,|,bullist,numlist,|,fontselect,fontsizeselect,|,justifyleft,justifycenter,justifyright,justifyfull,|,table,removeformat,code",
                    theme_advanced_buttons2 : "",
                    theme_advanced_buttons3 : "",
                    theme_advanced_buttons4 : "",
                    theme_advanced_toolbar_location : "top",
                    theme_advanced_toolbar_align : "left",
                    theme_advanced_statusbar_location : "bottom",
                    theme_advanced_resizing : true,
                    width: 410,             
                    content_css : "{{ defaults.common }}/css/style.css"
                });
            });
        });
    </script>    

    <div class="header-title">
        {{ block('title') }}
    </div>
    
    <form method="post" enctype="multipart/form-data">
        {% if item.id %}
            <input type="hidden" name="id" value="{{ item.id }}" />
        {% endif %}

        <div class="tabs lefted">
            <div class="tabs-items" data-type="items">
                <div class="tabs-item selected">
                    Основное
                </div>
                <div class="tabs-item">
                    META
                </div>
                <div class="clear"></div>
            </div>

            <div class="tabs-contents" data-type="contents">
                <div class="tabs-content selected">
                    <table class="form-table">
                        <tr>
                            <td width="120px">
                                Производитель
                            </td>
                            <td width="400px">
                                <select name="brand">
                                    {% for brand in brands %}
                                        <option value="{{ brand.id }}"{% if brand.id == item.brand_id %} selected="selected"{% endif %}>{{ brand.name }}</option>
                                    {% endfor %}
                                </select>
                            </td>                
                        </tr>
                        
                        <tr>
                            <td width="120px">
                                Поставщик
                            </td>
                            <td width="400px">
                                <select name="supplier">
                                    {% for supplier in suppliers %}
                                        <option value="{{ supplier.id }}"{% if supplier.id == item.supplier_id %} selected="selected"{% endif %}>{{ supplier.name }}</option>
                                    {% endfor %}
                                </select>
                            </td>                
                        </tr>
                        
                        <tr>
                            <td>
                                Тип товара
                            </td>
                            <td>
                                <select name="type">
                                    {% for type in types %}
                                        <option value="{{ type.id }}"{% if type.id == item.type_id %} selected="selected"{% endif %}>{{ type.name }}</option>
                                    {% endfor %}
                                </select>
                            </td>                
                        </tr>
                        
                        <tr>
                            <td>
                                Название товара
                            </td>
                            <td>
                                <div class="input-wrap">
                                    <input type="text" name="name" value="{{ item.name }}" />
                                </div>
                            </td>                
                        </tr>
                        
                        
                        
                        <tr>
                            <td>
                                Артикул товара
                            </td>
                            <td>
                                <div class="input-wrap">
                                    <input type="text" name="article" value="{{ item.article }}" />
                                </div>
                            </td>                
                        </tr>
                        <tr>
                            <td>
                                Артикул производителя
                            </td>
                            <td>
                                <div class="input-wrap">
                                    <input type="text" name="product_sku" value="{{ item.product_sku }}" />
                                </div>
                            </td>                
                        </tr>

                        <tr>
                            <td>
                                Кол-во проданных товаров
                            </td>
                            <td>
                                <div class="input-wrap">
                                  <input type="text" name="sell_amount" value="{{ item.sell_amount }}" />
                                </div>
                            </td>                
                        </tr>
                        <tr>
                            <td>
                                Кол-во на складе
                            </td>
                            <td>
                                <div class="input-wrap">
                                  <input type="text" name="in_stock" value="{{ item.in_stock }}" />
                                </div>
                            </td>                
                        </tr>
                        <tr>
                            <td>
                                Закупочная цена
                            </td>
                            <td>
                                <div class="input-wrap small">
                                    <input type="text" name="p_price" value="{{ item.p_price }}" />
                                </div>
                            </td>                
                        </tr>        
                        <tr>
                            <td>
                                Товар для
                            </td>
                            <td>
                                <select name="sex">
                                    <option value="0"{% if item.sex == 0 %} selected="selected"{% endif %}>Мальчиков и девочек</option>
                                    <option value="1"{% if item.sex == 1 %} selected="selected"{% endif %}>Мальчиков</option>
                                    <option value="2"{% if item.sex == 2 %} selected="selected"{% endif %}>Девочек</option>                                                
                                </select>
                            </td>                
                        </tr>            
                        
                        <tr>
                            <td>
                                Возраст
                            </td>
                            <td>
                                <div class="input-wrap">
                                    <table>
                                        <tr>
                                            <td>
                                                <select name="age_from">
                                                    {% for age in 0..18 %}
                                                        <option{% if item.age_from == age %} selected="selected"{% endif %}>{{ age }}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <select name="age_to">
                                                    {% for age in 0..18 %}
                                                        <option{% if item.age_to == age %} selected="selected"{% endif %}>{{ age }}</option>
                                                    {% endfor %}
                                                </select>                                
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>                
                        </tr>            
                        
                        <tr>
                            <td>
                                Скидка %
                            </td>
                            <td>
                                <div class="input-wrap small">
                                    <input type="text" name="discount" value="{{ item.discount }}" />
                                </div>
                            </td>                
                        </tr>
                        
                        <tr>
                            <td>
                                Распродажа
                            </td>
                            <td>
                                <div class="input-wrap small">
                                    <input type="checkbox" name="sale" value="1" 
                                                    {% if item.sale == '1' %}
                                                         checked="checked"
                                                    {% endif %} />
                                </div>
                            </td>                
                        </tr>
                        
                        <tr>
                            <td>
                                Срок действия скидки
                            </td>
                            <td>
                                <div class="input-wrap small">
                                    <input type="text" name="discount_date" value="{{ item.discount_date|date("d-m-Y") }}" />
                                </div>
                            </td>                
                        </tr>
                        
                        <tr>
                            <td>
                                Ссылка
                            </td>
                            <td>
                                <div class="input-wrap">
                                    <input type="text" name="link" value="{{ item.link }}" />
                                </div>
                            </td>                
                        </tr>      
                        
                        <tr>
                            <td class="top">
                                Состав
                            </td>
                            <td>
                                <div class="input-wrap">
                                    <textarea class="smallwysiwyg" name="compound">{{ item.compound }}</textarea>
                                </div>                    
                            </td>
                        </tr>
                        
                        <tr>
                            <td class="top">
                                Описание
                            </td>
                            <td>
                                <div class="input-wrap">
                                    <textarea class="smallwysiwyg" name="description">{{ item.description }}</textarea>
                                </div>
                            </td>                
                        </tr>                        
                    </table>
                </div>
                <div class="tabs-content">
                    <table class="form-table">
                        
                        <tr>
                            <td width="120px">
                                Тайтл товара
                            </td>
                            <td width="300px">
                                <div class="input-wrap">
                                    <input type="text" name="title" value="{{ item.title }}">
                                </div>
                            </td>
                        </tr>
                    
                        <tr>
                            <td width="120px" class="top">
                                META-keywords
                            </td>
                            <td width="500px">
                                <div class="input-wrap">
                                    <textarea name="meta_keywords">{{ item.meta_keywords }}</textarea>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                META-description
                            </td>
                            <td>
                                <div class="input-wrap">
                                    <textarea name="meta_description">{{ item.meta_description }}</textarea>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <table>
                <tr>
                    <td width="120px"></td>
                    <td>
                        <div class="form-submit">
                            <button type="submit" name="proceed">
                                {% if item.id %}
                                    Сохранить
                                {% else %}
                                    Добавить
                                {% endif %}
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
            <br /><br /><br />
        </div>

        <div class="row lefted">
            <div class="gallery">
                {% if item.getIcons|length %}
                    <div class="gallery-wrap" data-url="{{ path('manage_processPictures') }}" data-type="good">
                    {% for pic in item.getIcons %}
                        <div class="gallery-item" data-id="{{ pic.id }}">
                            <div class="gallery-item-delete"></div>
                            <img width="40px" height="40px" src="{{ pic.picture.icon }}" />
                        </div>
                    {% endfor %}
                        <div class="clear"></div>
                    </div>
                {% endif %}
                <input type="file" name="pictures[]" multiple="multiple" min="1" max="5" />
            </div>
            
            <div class="sizes">
                <table class="type-properties items-table multipleInputs{% if item.sizes|length %} nonEmpty{% endif %}" width="100%" data-name="sizes">
                    <thead>
                        <tr>
                            <th width="350px"><div>Размер</div></th>                        
                            <th width="150px"><div>Стоимость</div></th>                                
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for size in item.sizes %}
                            {{ manage.size(size, _context)}}
                        {% endfor %}
                        {{ manage.size('new', _context) }}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">
                                <div class="multipleInputs-add" data-type="add">
                                    Добавить
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                    
                </table>
            </div>
            
            
        {% if properties %}
            <div class="type-properties-wrap">
                <table class="type-properties items-table">
                    <thead>
                        <tr>
                            <th width="150px"><div>Свойство</div></th>                                
                            <th width="350px"><div>Значение</div></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for property in properties %}
                        <tr>
                            <td class="left">
                                {{ property.name }}
                            </td>
                            <td>
                                {% if 'array' == property.type %}
                                    <select name="property[{{ property.id }}]" class="type-property">
                                        {% for key, value in property.value %}
                                            <option value="{{ key }}"{% if value.selected %} selected="selected"{% endif %}>{{ value.name }}</option>
                                        {% endfor %}
                                    </select>
                                {% else  %}
                                    <div class="input-wrap">
                                        <input type="text" name="property[{{ property.id }}]" value="{{ property.value|default(property.defaultValue) }}" />
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        </div>

    </form>
{% endblock %}
