{% extends defaults.layouts ~ '/manage.twig' %}
{% import defaults.macros ~ '/shop.twig' as shop %}

{% block title %}
Товары
{% endblock %}

{% block absolute %}absolute{% endblock %}

{% block content %}
    <div class="header-title">
        Товары [<a href="{{ path('manage_goods_add') }}">+</a>] 
        
        <form method="post" class="search_form" action="{{ path('manage_goods_index') }}" >
          <input type="text" name="query" value="" /><input type="submit" name="item_search" value="Ok" /> 
        </form>
        <a href="{{ path('manage_goods_index') }}">Все</a>
    </div>
    
    <div class="window">   
        <div class="categories" data-selected="{{ selectedCategory }}" data-action-delete="{{ path('manage_goods_category_remove') }}" data-action-visibility="{{ path('manage_goods_category_visibility') }}"> 
            <div class="category-item" data-id="all">
                <div class="category-name">            
                    Все товары
                </div>
            </div>
        
            <div class="category-item" data-id="new">
                <div class="category-name">            
                    Новые товары
                </div>
            </div>

            <ol class="sortable categories-wrap" data-url="{{ path('manage_goods_category_weight')}}">
                {% for item in categories %}
                    {{ common.sortableCategoryItem(item, selectedCategory) }}
                {% endfor %}
            </ol>
            
            <div class="category-add form">
                <form class="category-add-form" method="post" action="{{ path('manage_goods_category_add') }}"> 
                    <div class="input-wrap">
                        <input type="text" name="categoryName" placeholder="Добавить категорию" />
                    </div>
                </form>
                <form class="category-find" method="post""> 
                    <input type="text" name="query" value="" /><input type="submit" name="category_search" value="Ok" /> 
                </form>
                <div class="category-add-link">
                    [Добавить категорию]
                </div>
            </div>    
            
            
            <div style="position:absolute">
                

            </div>   
            
                    
        </div>
        
        <div class="goods module_item" data-url="{{ path('manage_goods_action') }}">
            {% for good in goods %}
                <div class="good-item{% if not good.isAvailable %} notAvailable{% endif %}" data-id="{{ good.id }}" data-category="{{ good.getCategories }}">
                    <div class="good-item-pic">
                        {{ shop.itemPicture(good.getIcon, 'thumb') }}
                        
                        {% if good.discount %}
                            <div class="good-item-oldprice">
                                {{ good.old_price|money }}
                            </div>
                        {% endif %}
                        <div class="good-item-price">
                            {{ good.price|money }}
                        </div>
                        <div class="tools">
                            <div class="tools-item show" data-action="show">
                                <div class="icon"></div>
                            </div>
                            <div class="tools-item hide" data-action="hide">
                                <div class="icon"></div>
                            </div>                            
                            <div class="tools-item delete" data-action="delete">
                                <div class="icon"></div>                        
                            </div>
                        </div>
                    </div>
                    <div class="good-item-name">
                        <a href="{{ path('manage_goods_edit', {'goodId': good.id}) }}">{{ good.name|default('Товар') }}</a>
                    </div>
                </div>
                
            {% endfor %}

            
           
            <div class="clear"></div>
            {% if pager %}
              {{ common.pager(pager) }}
            {% endif %}
        </div>
        
        
        
    </div>
{% endblock %}
